<header class="bg-[#FCFCFC] flex flex-col items-center justify-between px-4 py-6 h-full w-24 rounded-2xl drop-shadow-lg">
	<a href="/" class='w-full aspect-square bg-primary-white drop-shadow-lg rounded-2xl p-2'>
		<img src="{{ asset('build/images/icon.webp') }}" class="w-full h-full object-contain" alt="Icon Computis">
	</a>

	<div class="flex flex-col items-center justify-between gap-16">
		<a href="{{ path('app_dashboard_ninjaOne') }}" class='w-9 h-auto aspect-square  {{ title == ' ninjaone' ? "scale-125" : "scale-100" }} '>
			<img src="{{ asset('build/icons/ninjaOne.svg') }}" class="w-full h-full object-contain rounded-full" alt="Icon NinjaOne">
		</a>

		<a href="/" class='w-9 h-auto aspect-square {{ title == ' ' ? "scale-125" : "scale-100" }} '>
			<img src="{{ asset('build/icons/kaseya.svg') }}" class="w-full h-full object-contain" alt="Icon Kaseya">
		</a>

		<a href="/" class='w-9 h-auto aspect-square {{ title == ' ' ? "scale-125" : "scale-100" }} '>
			<img src="{{ asset('build/icons/bitdefender.svg') }}" alt="Icon Bitdefender">
		</a>

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_history_log') }}" class='w-9 h-auto aspect-square {{ title == ' ' ? "scale-125" : "scale-100" }} '>
				<img src="{{ asset('build/icons/lists.svg') }}" class="w-full h-full object-contain" alt="Icon Lists">
			</a>
			<a href="{{ path('app_admin_users') }}" class='w-9 h-auto aspect-square {{ title == "Administration" ? "scale-125" : "scale-100" }} '>
				<img src="{{ asset('build/icons/users.svg') }}" class="w-full h-full object-contain" alt="Icon Utilisateurs">
			</a>

		{% endif %}

		<a href="{{ path('app_profile') }}" class='w-9 h-auto aspect-square {{ title == ' utilisateur' ? "scale-125" : "scale-100" }} '>
			<img src="{{ asset('build/icons/settings.svg') }}" class="w-full h-full object-contain" alt="Icon Settings">
		</a>
	</div>

	<a href="{{ path('app_logout') }}" class='w-full h-auto aspect-square bg-primary-white drop-shadow-lg rounded-2xl p-3'>
		<img src="{{ asset('build/icons/logout.svg') }}" class="w-full h-full object-contain filter invert" alt="Icon Logout">
	</a>
</header>
