{% extends 'base.html.twig' %}

{% block title %}Créer un compte - PULSE
{% endblock %}

{% block page_content %}
	<section class="flex flex-col items-center justify-between p-10 h-full">
		<div class=" w-full ">
			<h2 class="text-2xl font-bold mb-2">Créer un compte</h2>
			<p class="text-sm text-gray-500">Veuillez remplir les champs ci-dessous pour créer un nouveau compte.</p>
		</div>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="flash-{{ label }} p-4 rounded-lg text-base">{{ message }}</div>
			{% endfor %}
		{% endfor %}

		<section class="flex flex-col items-center justify-between w-full h-auto bg-secondary-white rounded-lg p-10">
			{{ form_start(form, {'attr': {'class': 'flex flex-col gap-10 w-full'}}) }}

			<div class="grid grid-cols-2 gap-8">
				<div class="flex flex-col gap-2">
					{{ form_label(form.firstname, null, {'label_attr': {'class': 'text-sm font-medium'}}) }}
					{{ form_widget(form.firstname, {'attr': {'class': 'w-full text-primary-black rounded-lg px-5 py-2 border border-gray-200'}}) }}
					{{ form_errors(form.firstname) }}
				</div>

				<div class="flex flex-col gap-2">
					{{ form_label(form.lastname, null, {'label_attr': {'class': 'text-sm font-medium'}}) }}
					{{ form_widget(form.lastname, {'attr': {'class': 'w-full text-primary-black rounded-lg px-5 py-2 border border-gray-200'}}) }}
					{{ form_errors(form.lastname) }}
				</div>

				<div class="flex flex-col gap-2">
					{{ form_label(form.email, null, {'label_attr': {'class': 'text-sm font-medium'}}) }}
					{{ form_widget(form.email, {'attr': {'class': 'w-full text-primary-black rounded-lg px-5 py-2 border border-gray-200'}}) }}
					{{ form_errors(form.email) }}
				</div>

				<div class="flex flex-col gap-2">
					{{ form_label(form.plainPassword, null, {'label_attr': {'class': 'text-sm font-medium'}}) }}
					{{ form_widget(form.plainPassword, {'attr': {'class': 'w-full text-primary-black rounded-lg px-5 py-2 border border-gray-200'}}) }}
					{{ form_errors(form.plainPassword) }}
				</div>

				<div class="flex flex-col gap-2 col-span-2">
					{{ form_label(form.roles, null, {'label_attr': {'class': 'text-sm font-medium'}}) }}
					{{ form_widget(form.roles, {'attr': {'class': 'text-primary-black rounded-lg px-5 py-2 border border-gray-200'}}) }}
					{{ form_errors(form.roles) }}
				</div>
			</div>

			<div class="flex justify-end">
				{{ form_widget(form.submit) }}
			</div>

			{{ form_end(form) }}
		</section>
	</section>
{% endblock %}
