<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Dashboard
				{{title}}
				- PULSE
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="{{ asset('js/chart.min.js') }}"></script>
	</head>

	<body>
		{% block body %}
			{% if app.request.get('_route') != 'app_login' %}
				<section class="bg-black-to-red h-screen p-6 relative">
					<div class="flex flex-row gap-8 items-center justify-between h-full">

						{% include '_partials/header.html.twig' %}

						<main class="h-full w-full bg-primary-white rounded-2xl drop-shadow-lg p-10">
							<div class="w-full h-auto flex flex-row justify-between items-center">
								<h1 class="text-2xl font-semibold">Bienvenue
									{{app.user.lastname}}</h1>
								<div class="flex flex-row gap-4 items-center justify-center">
									<div class="h-12 w-auto flex flex-row gap-x-2 items-center justify-center text-xl">
										<p id="clock">
											{{ "now" | date("d/m/Y H:i", "Europe/Paris") }}
										</p>
									</div>
									<div class="h-10 w-auto bg-secondary-black text-primary-white rounded-2xl flex flex-row gap-x-2 items-center justify-center px-4">
										<span class="w-6 h-6">
											<img src="{{ asset('build/icons/person.svg') }}" class="w-full h-full object-contain" alt="Icon Person">
										</span>
										<p class="text-sm">
											{{ app.user.lastname }}
										</p>
									</div>
								</div>
							</div>

							<section class="p-6 h-full w-full flex flex-col gap-6">

								<h2 class="text-3xl font-semibold">Dashboard
									{{title}}
								</h2>

								{{ block('page_content') }}
							</section>

						</main>
					</div>
				</section>
			{% endif %}
		{% endblock %}

		{% block login_content %}{% endblock %}
	</body>
</html></body></html>
