{% extends 'base.html.twig' %}

{% block title %}Paramètres - PULSE
{% endblock %}

{% block page_content %}
	<section class="flex flex-col items-center justify-between p-10 h-full">
		<div class=" w-full ">
			<h2 class="text-4xl font-bold mb-4">Paramètres</h2>
			<p class="mb-8">Vous pouvez modifier vos informations de compte ici.</p>
		</div>

		<section class="flex flex-col items-center justify-between w-full h-auto bg-secondary-white rounded-lg p-10">
			{{ form_start(form, {'attr': {'class': 'flex flex-col items-center gap-y-20 w-full'}}) }}

			<section class="flex flex-row items-center justify-between w-full ">
				<div class="flex flex-col">
					{{ form_label(form.firstname) }}
					{{ form_widget(form.firstname) }}
				</div>

				<div class="flex flex-col">
					{{ form_label(form.lastname) }}
					{{ form_widget(form.lastname) }}
				</div>
			</section>

			<section class="flex flex-row items-center justify-between w-full">
				<div class="flex flex-col">
					{{ form_label(form.email) }}
					{{ form_widget(form.email) }}
				</div>

				<div class="flex flex-col ">
					{{ form_label(form.password) }}
					{{ form_widget(form.password) }}
				</div>
			</section>

			{{ form_widget(form.submit) }}
			{{ form_end(form, {'render_rest': false}) }}
		</section>
	</section>
{% endblock %}
